@using tododatabase.Models
@model List<Todo>

<!DOCTYPE html>
<html>

<head>

</head>
<body>
    <form method="post" action="addTodo">
        <label for="addTodo">Todo: </label>
        <input id="title" name="title" type="text" placeholder="">
        <button type="submit">OK</button>
    </form>
</body>
</html>