@using coloringexercise.Models
@model string
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <style>
        body{
            background-color:@Model;
        }
    </style>
</head>
<body>
</body>
</html>